h1,h2,h3,h4,h5,h6{
  font-family: 'Jost', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
.slider-pattern .wp-block-column.is-vertically-aligned-center {
  position: relative;
  top: 50%;
  transform: translateY(10%);
  left: 7%;
  border-left: solid 5px;
  border-image: linear-gradient(to bottom, #ea430f, #f9ce44) 1 100%;
  padding-left: 15px;
}
.slider-pattern h2{
  font-size: 40px !important;
  font-weight: 500;
  color: #000 !important;  
}
.slider-pattern h5{
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px !important;
  background: -webkit-linear-gradient(#f9ce44, #ea430f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider-pattern p,.article-section h4,.article-section p,.article-outer-box h3,.article-outer-box h5{
  color: #000 !important;
}
.slider-pattern .wp-block-button__link {
  font-size: 12px !important;
  text-decoration: none !important;
  padding: 15px 20px;
  border-radius: 30px;
  font-weight: bold;
  margin: 15px 0;
}
.slider-pattern p,.slider-pattern h5,.slider-pattern h2,.slider-pattern .block-editor-block-list__block {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/*Article*/
.article-section {
  min-height: auto !important;
  height: auto;
  width: auto;
  margin: 0 20px !important;
  margin-top: -75px !important;
}
.article-outer-box h5{
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px !important;
  background: -webkit-linear-gradient(#30a7eb, #0d25a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.article-outer-box figure{
  text-align: center;
}
@media screen and (max-width:720px) {
  .slider-pattern .wp-block-column.is-vertically-aligned-center {
    position: static;
    transform: none;
    border-left: none;
    text-align: center;
  }
  .slider-pattern .alignleft {
    text-align: center;
    float: none;    
  }
  .article-section {
    margin: 0 40px !important;
    margin-top: -75px !important;
  }
}
@media screen and (max-width:1000px) {
  .slider-pattern h2{
    font-size: 30px;
  }
  .article-container{
    margin: 0 15px !important;
    width: auto !important;
    text-align: center;
  }
  .article-section {
    margin-bottom: 20px;
  }
}